.RecommendationResults-container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .RecommendationResults-list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    li {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    &.disabled {
      opacity: 0.3;
      pointer-events: none;
    }
  }
}
